<link rel="stylesheet" href="../../styles.scss">

<p class="standard_layout_headline">Daily Math:</p>
     
<div class="standard_layout_left_side_text"> 

    <div class="standard_layout_text_area">
    <p>For some daily math questions, I programmed an android app using android studio. The purpose of the app is to learn how to do simple math questions in your head.</p>
    <p>The application's interface is thoughtfully designed to ensure ease of use, making it a perfect fit for users of all ages. 
        Its simplicity is a key feature, allowing you to dive into your daily math challenge without any problems.</p>
    <p>The user can choose between 3 difficulties. Then the user has to answer 10 math equations. Afterwards, the results are shown.</p>

    <div class="radio_button_select_image_area">
        <label>
            <input type="radio" (click)="changeImage('1')" name="imageOption" checked="checked" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 1: This is the start menue of the app.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('2')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 2: An example of an easy question.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('3')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 3: An example of an middle hard question.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('4')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 4: This shows the end screen with the questions, the users answers and the solutions.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('5')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 5: Here is a screenshot of the app on my smartphone.</div>
        </label>
    </div>

    <p class="ListElements_Link" style="padding-top: 20px;">Code available on: <a class="link1" href="https://github.com/QuenWi/Daily-Math-Challanges" target="_blank">Github Link</a>
        <p>The program is a Android Studio project.</p>
    </div> 
</div>

<div class="standard_layout_right_side_image"> 
    <img class="standard_layout_image" id="image" src="../../assets/Images/Application_FullStack_FrontEnd_Daily_Math/1.png">
</div>


