<header>
    <div class="navigationBar_box">
        <a id="navigationBar_link_About_me" routerLink="">About me</a>
        <a id="navigationBar_link_Programming_Skills" routerLink="Programming_Skills">Programming Skills</a>
        <a id="navigationBar_link_Programms_AI" routerLink="Applications_AI">Applications AI</a>
        <a id="navigationBar_link_Programms_Terminal" routerLink="Applications_Terminal">Applications Terminal</a>
        <a id="navigationBar_link_Programms_FullStack_FrontEnd" routerLink="Applications_FullStack_FrontEnd">Applications Full Stack / Front End</a>
        <a id="navigationBar_link_Programms_Other" routerLink="Applications_Other">Applications Other</a>
        <a id="navigationBar_link_GitHub/LinkedIn" routerLink="GitHub_LinkedIn">GitHub / LinkedIn / LeetCode</a>
        <a id="navigationBar_link_Contact" routerLink="Contact">Contact</a>
    </div>
</header>

<!--https://www.youtube.com/watch?v=1xhZ-sZB5lQ-->