<link rel="stylesheet" href="../../styles.scss">

<p class="standard_layout_headline">Welcome on my webpage!</p>

<div class="standard_layout_left_side_text_alt">

    <p style="font-size: 22px;"><u>About me:</u></p>
    <p style="margin-bottom: 50px;">Name: Wilkes Quentin
        <br>Vocation: programming and engineering
        <br>Fluent in: German and English
    </p>
    <p style="font-size: 22px;"><u>About the website</u>:</p>
    <p style="margin-bottom: 50px;">This website serves the purpose of introducing me as a developer. 
        Here you can find programming examples, programming-related information, contact links and more.
        This website was created using AngularJS.
    </p>

    <p style="font-size: 22px;"><u>Introduction of myself</u>:</p>
    I'm currently a student enrolled at the University Duisburg-Essen studying Computer Engineering B.Sc ISE, 
    where I'm acquiring a deep understanding of software development, algorithms, hardware systems, engineering and everything in between.
    <br>My fascination with coding began during my earlier years and it has grown into a profound passion that drives me to continually learn and 
    explore the ever-evolving world of programming.
    <p>In 2014 I started my programming journey with an Udemy course about website creation (HTML, CSS, JavaScript).
    <br>One year later I continued by taking a Udemy course about Unity game development. 
    <br>From there on, I set my focus in life to learn as much about computer engineering and science as possible.
    Over time, I acquired a lot of programming skills by actively programming and theoretical knowledge.

    <p style="margin-top: 40px;">The best way to describe myself are probably my goals in life and my most important characteristics:</p>

    <div class="BigFive_Border">
        <div class="BigFive_Text">My goals in life:</div>
        <div class="BigFive_Text"><b></b></div>
        <p class="BigFive_Text">-Computer engineering expert: Since childhood, I'm interested in programming and other computer related topics. Therefore I'm visiting additional lectures in my university and I will write my bachelor's thesis about AI unsupervised learning.</p>
        <p class="BigFive_Text">-Eustress and Strength training: Serve as foundations for efficiency, I'm keeping myself fit. Furthermore, I'm looking forward for sports challenges such as running a marathon.</p>
        <p class="BigFive_Text">-Reading books: I'm a fan of reading books written by experts with years of experience, because they offer valuable skills. My goal is to read daily a minimum of 30 pages and 40 minutes.</p>
        <p class="BigFive_Text">-Knowledge: Similar to acquiring knowledge and skills  through books, I also want to stay updated on natural sciences. Since a young age I've interest in physics, math and engineering. This includes learning about current inventions, learning about the functionality of devices and machines, and more.</p>
        <p class="BigFive_Text">-Enjoyment: The best ideas and results come when you believe in what you do in life. That's why I chose to become a programmer. I find joy in programming and learning about computers, softwares, applications and everything else.</p> 
    </div>
    
    <div class="BigFive_Border">
        <div class="BigFive_Text"></div>
        <div class="BigFive_Text">My most important characteristics are:</div>
        <p class="BigFive_Text">-Curiosity: I love a challenge. I acquire valuable skills through active experimentation and theoretical research.</p>
        <p class="BigFive_Text">-Optimism: For optimal performance and satisfaction, it is important to stay calm and always believe in your abilities.</p>
        <p class="BigFive_Text">-Never Surrender: You learn from mistakes. For me, it is important to always get up after a fall. You only lose if you give up or don't even try something.</p>
    </div>

</div>

<div class="standard_layout_right_side_image_alt">
    <img class="standard_layout_image_alt" src="../../assets/Images/AboutMe/AboutMe_Image_Runterskalliert.png">
</div>

<img style="width: 105%; padding-top: 20px; margin-left: -20px; margin-bottom: -42px;" src="../../assets/Images/AboutMe/Panorama_Runterskalliert.jpg">
