<link rel="stylesheet" href="../../styles.scss">

<p class="List_Headline">You can find me on LinkedIn and GitHub:</p>
        
<div class="List_Border">

    <p class="ListElements_Text">-Connect with me on LinkedIn to get information on my professional journey:</p>
    <p class="ListElements_Link"><a href="https://www.linkedin.com/in/quentin-wilkes-ger-dev/" target="_blank">LinkedIn-Link</a></p>
            
    <p class="ListElements_Text">-Visit my GitHub profile to dive into the repositories of coding projects I've worked on:</p>
    <p class="ListElements_Link"><a href="https://github.com/QuenWi" target="_blank">GitHub-Link</a></p>

</div>