<link rel="stylesheet" href="../../styles.scss">

<p style="font-size: 22px;"><u>You can find my LeetCode profile here</u>:</p>
    <p style="margin-bottom: 50px;" class="ListElements_Link"><a href="https://leetcode.com/u/QuentinW_Dev/" target="_blank">LeetCode-Profile</a></p>

<p style="font-size: 22px;"><u>I'm a competitive programmer and LeetCoder, but what does that mean?</u>:</p>
<p style="margin-bottom: 50px;">LeetCode is a website, where you can solve a variaty of programming tasks.
    The goal is, to acquire skills in coding runtime and memory efficient algorithms. 
    Many programming challanges require a certain runtime in order to solve them. By this I have learned many techniques to write the fastes algorithms available.
    Furthermore, I've learned all about datastructures and when to use which for optimal results.
</p>

<div class="standard_layout_left_side_text"> 

<p style="font-size: 22px;"><u>About my LeetCode journey</u>:</p>
<p style="margin-bottom: 50px;">Currently I solved more than 267+ daily challanges in a row and a total of 1043+ programming challanges.<br>
    I attended the following Biweekly Contests: <br>
    -Biweekly 140: 1846 / 35904<br>
    -Biweekly 141: 4401 / 29884<br>
    -Biweekly 142: 3026 / 26808<br>
    -Biweekly 147: 1078 / 26988<br>
    -(all ranks last updated: 2025.02.06)<br>
</p>

    <div class="radio_button_select_image_area">
        <label>
            <input type="radio" (click)="changeImage('1')" name="imageOption" checked="checked" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 1: LeetCode Rewind 2024, total submissions.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('2')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 2: LeetCode Rewind 2024, daily coding challange streaks.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('3')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 3: LeetCode Rewind 2024, contest ranking.</div>
        </label>
        <p></p>
        <label>
            <input type="radio" (click)="changeImage('4')" name="imageOption" class="radio_button_select_image_button">
            <div class="radio_button_select_image_text">Image 4: LeetCode Rewind 2024, overview.</div>
        </label>
    </div>


    <p style="font-size: 22px;"><u>What kind of programmer am I?</u>:</p>
    <p style="margin-bottom: 50px;">Since I enjoy writing efficient code on LeetCode, this makes me a programmmer, who writes the best methodes in terms of runtime and memory efficiency.
        My preferad programming languages give the programmer alot of freedom, while still offering some premade methods, such like C++. <br>
        I'm a programmer, who will become the best programmer on earth.
    </p>

</div>

<div class="standard_layout_right_side_image"> 
    <img class="standard_layout_image" id="image" style="height: auto; width: 45%; margin-right: 40%;" src="../../assets/Images/Leetcode/LeetCodeYear1.jpg">
</div>