<link rel="stylesheet" href="../../styles.scss">


<p style="font-size: 22px;"><u>You can find my LeetCode profile here</u>:</p>
    <p style="margin-bottom: 50px;" class="ListElements_Link"><a href="https://leetcode.com/u/QuentinW_Dev/" target="_blank">LeetCode-Profile</a></p>

<p style="font-size: 22px;"><u>I'm a LeetCoder, but what does that mean?</u>:</p>
<p style="margin-bottom: 50px;">LeetCode is a website, where you can solve a variaty of programming tasks.
    The goal is, to acquire skills in coding runtime and memory efficient algorithms. 
    Many programming challanges require a certain runtime in order to solve them. By this I have learned many techniques to write the fastes algorithms available.
    Furthermore, I've learned all about datastructures and when to use which for optimal results.
</p>

<p style="font-size: 22px;"><u>About my LeetCode journey</u>:</p>
<p style="margin-bottom: 50px;">Currently I solved more than 210+ daily challanges in a row and a total of 830+ programming challanges.<br>
    I attended the following Biweekly Contests: <br>
    -Biweekly 140: 1846 / 35904<br>
    -Biweekly 141: 4402 / 29884<br>
    -Biweekly 142: 3052 / 26808<br>
</p>

<p style="font-size: 22px;"><u>What kind of programmer am I?</u>:</p>
<p style="margin-bottom: 50px;">Since I enjoy writing efficient code on LeetCode, this makes me a programmmer, who writes the best methodes in terms of runtime and memory efficiency.
    My preferad programming languages give the programmer alot of freedom, while still offering some premade methods, such like C++. <br>
    I'm a programmer, who will become the best programmer on earth.
</p>
