<link rel="stylesheet" href="../../styles.scss">

<p class="List_Headline">Here is a list of full stack and front end applications I worked on:</p>
        
<div class="List_Border">

    <p class="ListElements_Text">-Angular: This website is a project of mine:</p>
    <p class="ListElements_Link"><a routerLink="../Application_FullStack_FrontEnd_Personal_Website">Personal website</a></p>
            
    <p class="ListElements_Text">-C#: Have all your ToDoes on a simple list.</p>
    <p class="ListElements_Link"><a routerLink="../Application_FullStack_FrontEnd_ToDo_List">ToDo-List</a></p>

    <p class="ListElements_Text">-Java: An android app for simple math questions.</p>
    <p class="ListElements_Link"><a routerLink="../Application_FullStack_FrontEnd_Daily_Math">Daily Math</a></p>

</div>

