<link rel="stylesheet" href="../../styles.scss">

<p class="List_Headline">Here is a list of terminal applications I worked on:</p>
        
<div class="List_Border">

    <p class="ListElements_Text">-C#: A programm to manage a folder, by naming files and linking new files.</p>
    <p class="ListElements_Link"><a routerLink="../Application_Terminal_Folder_Files_Managment">-Folder/Files management</a></p>

    <p class="ListElements_Text">-C#: Create an individual startpage with everything you need.</p>
    <p class="ListElements_Link"><a routerLink="../Application_Terminal_Startpage_Manager">-Startpage manager</a></p>
          
    <p class="ListElements_Text">-Python: Save a public spotify playlist as .svg.</p>
    <p class="ListElements_Link"><a routerLink="../Application_Terminal_Spotify_Playlist_Converter">-Spotify playlist converter</a></p>

</div>
