<link rel="stylesheet" href="../../styles.scss">

<p class="List_Headline">Here is a list of embedded systems applications I worked on:</p>
        
<div class="List_Border">

    <p class="ListElements_Text">-ATmega328 GCC-AVG: An application to plot analog sensor data into a graph.</p>
    <p class="ListElements_Link"><a routerLink="../Application_Embedded_Systems_Analog_Sensor_Analysis">-Analog Sensor Analysis</a></p>

    <p class="ListElements_Text">-ATmega328 GCC-AVG: An implementation of a schedular in C.</p>
    <p class="ListElements_Link"><a routerLink="../Application_Embedded_Systems_Scheduler_Priority_Queue">-Scheduler Priority Queue</a></p>

</div>
